<!doctype html>
<head>
<meta charset="UTF-8">
<title>Equipe Levures Levures - ARN - Université de Strasbourg</title>
<link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>
   <div class="bg">
    <!--start container-->
    <div id="container">
    <!--start header-->
    <header>
      <!--start logo-->
      <a href="#" id="logo-cnrs"><img src="{{ url_for('static', filename='images/logo-cnrs.png') }}"></a> 
      <a href="#" id="logo-unistra"><img src="{{ url_for('static', filename='images/logo-unistra.png') }}"></a>
      <!--<a href="#" id="logo-arn"><img src="images/logo-arn.png" alt="logo arn"></a> -->
      <!--end logo-->
      <!--start menu-->
       <nav>
         <ul>
           <li><a href="/">Accueil</a></li>
           <li><a href="team">Equipe</a></li>
           <li><a href="projects">Projets</a></li>
           <li><a href="methods">Méthodologies</a></li>
           <li><a href="tools">Outils</a></li>
           <li><a href="publications" class="current">Publications</a></li>
           <li><a href="teaching" class="current">Enseignement</a></li>
         </ul>
      </nav>
       <!--end menu-->
      <!--end header-->
    </header>
   <!--start intro-->
   <section id="intro">
      <hgroup>
      <h1>RNA Web services</h1>
      <h2></h2>
      </hgroup>
   </section>
   <!--end intro-->
   <!--start holder-->
   <div class="project">
       The RNA webservices are up and running!!
      <!--<h2 style="margin-top:10px;">Global description</h2>
       <p>
       </p>
      <h2 style="margin-top:10px;">2D prediction</h2>
      <p>
        
      </p> 
      <p style="margin-top:10px;">
           
      </p>
      <h2 style="margin-top:10px;">3D annotation</h2>
      <p>
        
      </p>
      <h2 style="margin-top:10px;">Usage Statistics</h2>
      <p>
      </p>-->
    </div>
    <!--end holder-->
   </div>
   <!--end container-->
   <!--start footer-->
   <footer>
      <div class="container">  
         
      </div>
   </footer>
   <!--end footer-->
   </div>
   <!--end bg-->
  </body>
</html>